@page "/"
@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<MicrosoftIdentityOptions> microsoftIdentityOptions

<h1>Wargamer Showcase</h1>

<AuthorizeView>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {   
            if (claim.Type is "newUser" && claim.Value is "true")
            {
                <text> Thanks for joining Wargamer Showcase, @context.User.GetDisplayName()! </text>
                // TODO: Add user to user database
            }
        }

    </Authorized>
    <NotAuthorized>
        <text>Login to inventory paint and upload Minis!</text>
    </NotAuthorized>
</AuthorizeView>

