@page "/"
@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<MicrosoftIdentityOptions> microsoftIdentityOptions
@inject ICosmosDbService cosmosDbService
@inject ILogger<Index> logger

<h1>Wargamer Showcase</h1>

<AuthorizeView>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {   
            if (claim.Type is "newUser" && claim.Value is "true")
            {
                <text> Thanks for joining Wargamer Showcase, @context.User.GetDisplayName()! </text>
                addNewUser(context.User.GetDisplayName());
            }
        }

    </Authorized>
    <NotAuthorized>
        <text>Login to inventory paint and upload Minis!</text>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task addNewUser(string username) 
    {
        // TODO: add only one user, check for username
        User newUser = new User(username);
        await cosmosDbService.AddUserAsync(newUser);
        logger.LogInformation("Added user to cosmos");
    }
} 

