@page "/paintconverter"
@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<MicrosoftIdentityOptions> microsoftIdentityOptions
@inject ICosmosDbService cosmosDbService
@inject ILogger<PaintConversion> logger

<h2>Paint Converter</h2>

<EditForm Model="@selectedPaint" OnValidSubmit="HandleValidSubmit">
    <input type="text" 
           list="paint-search" 
           placeholder="Search for a paint" 
           @bind-value="selectedPaint.PaintName"/>
    <datalist id="paint-search">
        @foreach (var paint in allPaints)
        {
            <option>@paint.PaintName</option>
        }
    </datalist>
    <button type="submit">Convert</button>
</EditForm>
@if (paintConverted)
{
    <h3>
        Converted Paints
    </h3>
    <table border="1">
        <tr>
            <td>Company</td>
            <td>Paint</td>
        </tr>
        @foreach(var paint in convertedPaints)
        {
            <tr>
                <td>@paint.Company</td>
                <td>@paint.PaintName</td>
            </tr>
        }
    </table>
}
@code {
    List<Paint> allPaints = new();
    Paint selectedPaint = new();
    Paint foundPaint = new();
    List<Paint> convertedPaints = new();
    bool paintConverted = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await cosmosDbService.GetAllPaintsAsync();
        allPaints = response.ToList();
    }

    private void HandleValidSubmit()
    {
        selectedPaint = allPaints.Find(p => p.PaintName == selectedPaint.PaintName);
        if (selectedPaint == null)
        {
            selectedPaint = new();
            return;
        }
        logger.LogInformation($"Found paint conversions for {selectedPaint.PaintName}");
        foundPaint = new();
        convertedPaints = new();
        foundPaint = selectedPaint;
        convertedPaints = allPaints.FindAll(p => p.HexColor == foundPaint.HexColor);
        selectedPaint = new();
        paintConverted = true;
    }

    private void ResetInput()
    {
        selectedPaint = new();
        paintConverted = false;
    }
}
